# .gitignore

# Ignore bin and obj directories
bin/
obj/

# Ignore .vscode settings directory created by Visual Studio Code
.vscode/

# Ignore .idea settings directory created by JetBrains IDEs like IntelliJ
.idea/

# Ignore node_modules directory created by Node.js projects
node_modules/

# Ignore dist directory commonly used for output files
dist/

# Ignore .env files that usually contain sensitive information
.env

# Ignore log files
*.log

# Ignore all .tmp files
*.tmp

# Ignore all .DS_Store files created by macOS
.DS_Store

# Ignore all Thumbs.db files created by Windows
Thumbs.db

 Ignore all .cache files in all folders
**/.cache/

projects/Play.Identity/src/Play.Identity.Service/keys/is-signing-key.json
